<div class="container">
  <h1>STUPID COACHING</h1>
  <p>ASK YOUR COACH ANYTHING!</p>

  <form action="/answer" method="get">
    <input class="form_box" type="text" name="coach_answer" placeholder="Ask the coach">
    <input class="button" type="submit" value="Ask!">
  </form>
</div>
